$dark-blue: #264653;
$dark-green: #2a9d8f;
$dark-yellow: #e9c46a;
$dark-orange: #f4a261;
$dark-red: #e76f51;
$dark-purple: #333399;

// $theme-colors: () !default;

// $theme-colors: map-merge(
//   (
//     "dark-blue":   $dark-blue,
//     "dark-green":  $dark-green,
//     "dark-yellow": $dark-yellow,
//     "dark-orange": $dark-orange,
//     "dark-red":    $dark-red,
//     "dark-purple": $dark-purple
//   ),
//   $theme-colors
// );